@font-face {
    font-family: "copperplate";
    src: url(../fonts/Copperplate.ttc) format("truetype");
}

@font-face {
    font-family: "avenir";
    src: url(../fonts/avenir.ttc) format("truetype");
}
