$primary-blue: #0AC2D2;
$primary-black: #444444;
$primary-white: #FAFAFA;
$black: #000000;
$white: #FFFFFF;

body {
  background-color: $primary-white;
  font-size: 16px;
  color: $primary-black;
  font-family: copperplate, 'Lucida Grande';
  width: 100%;
}

//header
header {
  width: 100%;
}

.sub-container {
  width: 100%;
  height:40px;
  display: inline-block;
  color: $primary-blue;
  font-weight: bold;
  background-color: $primary-white;
  .sub-menu-left, .sub-menu-right {
    padding: 0px 25px;
    a {
      padding: 0px 5px;
      font-weight: normal;
      font-size: 1.1em;
      line-height: 40px;
      text-decoration: none;
      color: $primary-black;
      &:hover {
        color: $primary-blue;
      }
    }
  }
  .sub-menu-left {
    float: left;
    text-align: left;
    float: left;
    display: inline-block;
    font-size: 1.3em;
  }
  .sub-menu-right {
    float: right;
    text-align: right;
    float: right;
    display: inline-block;
  }
}

.menu-bar {
  height: 65px;
  background-color: $primary-black;
  text-align: center;
  line-height: 65px;
  font-size: 1.5em;
  margin-top: -7px;
  .fa {
    font-size: 1.6;
    vertical-align: middle;
    color: $primary-blue;
  }
  object.logo {
    height: 55px;
    padding-top: 8px;
  }
  img.logo {
    height: 48px;
    padding-top: 0px;
  }
  .menu-icon-container {
    float: left;
    width:20%;
    display: inline-block;
    a, &:focus, a.active {
      color: $white;
      text-decoration: none;
      &:hover{
        color: darken($white, 50%);
      }
    }
  }
  .menu-button-container {
    display: none;
  }
}

// main
.featured {
  text-align: center;
  div {
    display: inline-block;
    word-wrap: break-word;
    font-size: 1.1em;
    cursor:pointer;
    padding: 0px 10px;
  }
  .active {
    text-decoration: underline;
    color: $primary-blue;
  }
}

// blogs
.blog-preview {
  cursor: pointer;
  float: none;
  margin: 15px auto;
  padding: 10px 10px;
  width: 80%;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba($black, 0.2);
  min-height:200px;
  img {
    width: 100%;
  }
  .blog-info {
    font-family: Lucia Grande, sans-serif;
    .blog-title {
      padding-top: 5px;
      font-size: 1.2em;
      font-weight: bold;
    }
    .blog-date {
      font-size: .8em;
      text-align: right;
    }
  }
  .blog-text {
    font-family: Lucia Grande, sans-serif;
    font-size: 1em;
    text-align: left;
  }
  &:hover {
    opacity: 0.7;
  }
}

.return-to-top {
  position: absolute;
  top: -25px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $primary-blue;
  z-index: 10;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: $white;
  cursor: pointer;
  &:hover {
    color: $primary-black;
  }
  -webkit-animation: bounce 1500ms infinite;
	-moz-animation: bounce 1500ms infinite;
	-o-animation: bounce 1500ms infinite;
	animation: bounce 1500ms infinite;
}

// footer
footer {
  position: relative;
  margin-top: 10px;
  height: 50px;
  background-color: $primary-black;
  text-align: center;
  line-height: 50px;
  font-size: 1em;
  color: $white;
}

@keyframes bounce {
  0% {
    transform:translateY(0%);
  }
  25% {
    transform:translateY(-20%);
  }
  50% {
    transform:translateY(0%);
  }
  75% {
    transform:translateY(-20%);
  }
  100% {
    transform:translateY(0%);
  }
}

section[class$="-box"] {
  position: absolute;
  display: none;
  top:105px;
  left:0;
  width:100%;
  border-top: 2px solid $primary-blue;
  background-color: $primary-black;
  height:200px;
  line-height: 200px;
  font-size: 1.5em;
  color: $primary-blue;
  text-align: center;
  div[class$="-input"], div[class$="-icon"] {
    display: inline-block;
  }
  div[class$="-input"] {
    width: 75%;
    input {
      padding-left: 10px;
      color: $primary-black;
      width: 100%;
      line-height: 2em;
      border: none;
      border-radius: 2px;
      &:focus {
        outline: none;
      }
    }
  }
  div[class$="-icon"] {
    padding: 0px 10px;
    text-align: left;
    cursor: pointer;
    &:hover {
      color: darken($primary-blue, 10%);
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 380px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .menu-icon-container:not(.logo-container) {
    display: none;
  }
  .sub-menu-left, .sub-menu-right {
    padding: 0px 10px !important;
  }
  .logo-container {
    padding-left: 15px;
  }
  .menu-bar {
    .menu-button-container {
      font-size: 1.5em;
      float: right;
      width:20%;
      display: inline-block;
      .fa, .fa:focus, .fa.active {
        color: $primary-blue;
        text-decoration: none;
        &:hover{
          color: darken($white, 50%);
        }
      }
    }
  }
  .featured {
    div {
      font-size: .9em;
      padding: 0px 5px;
    }
  }
  .blog-preview {
    margin: 15px auto;
    padding: 5px 5px;
    width: 100%;
  }
  .search-input {
    input {
      font-size: .5em;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  // body {background-color: red;}
  .menu-bar {
    font-size: 1em;
    .fa {
      font-size: 1.1em;
    }
  }
  .search-input {
    input {
      font-size: .6em;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
